# .env.example

# MongoDB Connection String
MONGODB_URI="your_mongodb_uri"

# JWT Secret
JWT_SECRET="your_jwt_secret"

# M-Pesa API Credentials
MPESA_API_KEY="your_mpesa_api_key"
MPESA_API_SECRET="your_mpesa_api_secret"
